services:
  bd:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 01mars&2004
      MYSQL_DATABASE: gestion_utilisateurs
    # ports:
    #   - "3306:3306"
    networks:
      - project_network
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    networks:
      - project_network
    depends_on:
      - bd

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    networks:
      - project_network
    depends_on:
      - backend

networks:
  project_network:

volumes:
  db_data:
